@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  font-family: 'Comfortaa', sans-serif;
  background-color: #141414;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

header {
  width: 100%;
  background-color: #222;
  padding: 7px 0;
  position: absolute;
  top: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  margin-right: 60px;
}

.nav-toggle {
  display: none;
}

.nav-toggle span {
  height: 3px;
  width: 25px;
  background: #fff;
  margin-bottom: 4px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.nav-toggle.clicked span:nth-child(1) {
  transform: rotate(45deg) translateY(8px);
}

.nav-toggle.clicked span:nth-child(2) {
  opacity: 0;
}

.nav-toggle.clicked span:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px);
}

.menu-links {
  display: flex;
  gap: 25px;
}

.menu-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease, border-bottom-color 0.3s ease;
  border-bottom: 1px solid transparent;
}

.menu-links a:hover {
  color: #e9e9e9;
  border-bottom-color: #e9e9e9;
}

.vk-link {
  position: relative;
  width: 30px;
  height: 55px;
  overflow: hidden;
  transition: width 0.5s ease;
}

.vk-link:hover {
  width: 150px;
}

.vk-logo {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.vk-small {
  width: 30px;
  height: auto;
  margin-top: 12px;
}

.vk-big {
  width: 150px;
  height: auto;
  transform: translateX(-120px);
  opacity: 0;
  margin-top: 14px;
}

.vk-link:hover .vk-big {
  transform: translateX(0);
  opacity: 1;
}

.vk-link:hover .vk-small {
  transform: translateX(120px);
  opacity: 0;
}

/* Скрытие кнопки VK на мобильных устройствах */
@media (max-width: 768px) {
  .nav-toggle {
    display: flex;
  }

  .menu-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background: #222;
    position: absolute;
    top: 60px;
    right: 0;
    text-align: right;
    padding: 20px;
    border-left: 2px solid #fff;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }

  .menu-links.show {
    display: flex;
    opacity: 1;
    pointer-events: auto;
  }

  .vk-link {
    display: none;
  }

  .nav-toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 25px;
  }

  .menu-links a {
    margin: 10px 0;
    font-size: 18px;
  }
}

/* Остальные стили */

.error404-page {
    text-align: center;
    padding: 20px;
    margin-top: 100px; /* Отступ сверху, чтобы не перекрываться с меню */
  }
  
  .error-message {
    margin-bottom: 20px;
  }
  
  .error-message h1 {
    font-size: 8rem;
    margin-bottom: 1rem;
    opacity: 0;
    transform: translateY(-50px);
    animation: fadeIn 1s ease-out forwards;
  }
  
  .error-message p {
    font-size: 2rem;
    opacity: 0;
    transform: translateY(50px);
    animation: fadeIn 1s ease-out forwards;
    animation-delay: 0.5s;
  }
  
  .error404-page a {
    display: inline-block;
    padding: 0.5rem 1rem;
    color: #fff;
    background-color: #007BFF;
    text-decoration: none;
    border-radius: 5px;
    opacity: 0;
    transform: translateY(50px);
    animation: fadeIn 1s ease-out forwards;
    animation-delay: 1s;
  }
  
  /* Остальные стили */
  

.error404-page a:hover {
  background-color: #0056b3;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
