header {
    width: 100dvw;
    height: 11dvh;
}

.navigation {
    width: 100dvw;
    height: 11dvh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--gray-200);
    font-family: var(--font-family-second);
}

.menu-logo {
    height: 8.75dvh;
    width: 15dvw;
    padding: 0dvh 2dvw;
}

.menu-items {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2.5dvw;
    flex-grow: 1;
}

.menu-item {
    color: var(--gray-800);
    text-decoration: none;
    transition: opacity 0.3s ease, border-bottom-color 0.3s ease;
    border-bottom: 1px solid var(--clear);
    font-size: 1.1em;
}

.menu-item:hover {
    opacity: 1;
    border-bottom-color: var(--gray-800);
}

.menu-vk {
    margin-left: auto;
    margin-right: 2dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    border: 0px;
}

.vk-logo {
    width: 5dvh;
    height: 5dvh;
    transition: width 1s;
    z-index: 1;
}

.vk-text, .vk-text-mask {
    font-family: "VK Sans Display Regular";
    font-size: 1.2em;
    font-weight: bold;
    vertical-align: middle;
    overflow: hidden;
    color: var(--clear);
    transform: translateY(-2px) translateX(100%);
    transition: transform 0.5s ease, color 0.3s ease;
}

.vk-text-mask {
    transform: translateY(-2px) translateX(200%);
    background-color: var(--gray-200);
    color: var(--clear);
}

.menu-vk:hover .vk-text {
    color: var(--white);
    transform: translateY(-2px) translateX(-10%);
}

.navigation-toggle {
    display: none;
}

@media (max-width: 768px) {
    .vk-link {
        display: none;
    }
    
    .navigation-toggle {
        display: flex;
    }

    .navigation-toggle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 25px;
    }

    .navigation-toggle span {
        height: 3px;
        width: 25px;
        background: var(--white);
        margin-bottom: 4px;
        border-radius: 3px;
        transition: all 0.3s ease;
    }

    .navigation-toggle.clicked span:nth-child(1) {
        transform: rotate(45deg) translateY(8px);
    }

    .navigation-toggle.clicked span:nth-child(2) {
        opacity: 0;
    }

    .navigation-toggle.clicked span:nth-child(3) {
        transform: rotate(-45deg) translateY(-8px);
    }
}